<!doctype html>

<html lang="en">

  <head>

    <!-- Required meta tags -->

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">



    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <title>Imbroglione - {{ game_id }}</title>

  </head>

  <body>

  <div class="container d-flex flex-column min-vh-100 justify-content-center align-items-center">

    <h1>Game {{ game_id }} - Round #{{ round }}</h1>

	<p>{{ name }}</p>

	<br>
	{% if imbroglione %}
	<h4>Ora sei tu l'ingannatore</h4>

	<p>secret word</p>

	<button type="button" class="btn btn-warning" id="scarso">Comincio io(e voglio barare)</button>

	{% else %}

	<h4>Non sei tu l'ingannatore</h4>

	<p>{{ secret_word }}</p>

	<button type="button" class="btn btn-warning" id="scarso">Sono scarso/a(e voglio barare)</button>
	{% endif %}

	<p id="suggerimento"></p>

	<br>

	<div style="padding-top: 15px;">

	  <button type="button" class="btn btn-success" onclick="location.reload()">Ricarica</button>
	  {%if creator %}
	  <button type="button" class="btn btn-primary" id="newRound">Nuovo round</button>
	  {%endif%}

	</div>

	<br>

  </div>

    <!-- Optional JavaScript -->

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

	<script>

		$("#scarso").on("click", function(){
			$("#suggerimento").html("{{ suggestion }}");
		});
		$('#newRound').on("click",function() {
			// Parameters to be sent
			var params = {
				game_id: '{{game_id}}'
			};
	
			// Make the AJAX request
			$.ajax({
				url: '/newround',
				type: 'GET',
				data: params,
				success: function(response) {
					// Insert the retrieved HTML content into the 'content' div
				},
				error: function(xhr, status, error) {
					// Handle errors
					console.error(error);
				}
			});
		});
		

	</script>

  </body>

</html>

